@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Forgot Password</h1>

<div class="main-agileinfo">

    <div asp-validation-summary="All"></div>

    <div class="agileits-top">

        <form asp-action="SendResetPasswordUrl">
            <input asp-for="Email" placeholder="Email" Required="" />
            <input type="submit" value="Reset Password" />
        </form>
        <p> Don't have an account?  <a asp-action="SignUp"> Register Now !</a></p>
    </div>
</div>