@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete User</h1>
<div class="row">
    <div class="col-4"></div>

    <form asp-action="Delete" class="col-4">
        <h1>Delete Employee</h1>
        <partial name="UserPartialViews/DeleteDetailsUserPartialView" model="Model" />
        @* <input hidden asp-for="ImageName"/> *@

        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light "> Back to List </a>

    </form>
    <div class="col-4"></div>

</div>
